
# R cache files
.Rhistory
.Rdata

# RStudio settings and project files
.Rproj.user/
*.Rproj

# Built package files
*.tar.gz

# Temporary data and output
/output/

# Log files
*.log

# .R files
Master_tab_up.R


.httr-oauth
.DS_Store
.quarto


